.zaplane-canvas-controls{
gap: 5px;
margin-top: 75px;
}
.react-flow__controls-button{
    background: var(--zaplane-background);
    border-radius: 5px;
}
.zaplane-canvas-layout-icon{
    width: 60px;
    margin: 40px 0 10px 15px;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}