.zaplane-popover {
  max-width: 500px;
  width: 500px;
  background: var(--zaplane-background);
  border: 1px solid var(--zaplane-border-color);
  border-radius: 12px;
  box-shadow: var(--zaplane-shadow);
  z-index: 10001 !important;
  pointer-events: auto;
  right: 510px !important;
  left: unset !important;
  position: fixed !important;
  top: 110px !important;
  transform: unset !important;
  transition: all 0.2s ease-in-out;

  .components-popover__content {
    pointer-events: auto;
    padding: 24px;
    width: 100%;
    max-height: fit-content !important;
    box-shadow: none;
  }

  .zaplane-popover-inner {
    width: 100%;
  }


  .zaplane-popover-title {
    font-size: 20px;
    padding-bottom: 24px;
    font-weight: 500;
    color: var(--zaplane-font-color);
  }

  .zaplane-popover-content {
    font-size: 14px;
    color: var(--zaplane-font-color);
    max-height: 400px;
    overflow-y: auto;

    // p {
    //   margin: 0;
    // }
  }
}
