.zaplane-btn-group {
    display: flex;
    column-gap: 15px;
}

.zaplane-btn {    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    background: var(--zaplane-background);
    color: var(--zaplane-btn-text);
    cursor: pointer;
    text-align: center;
    padding: 15px;
    height: auto;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    overflow: hidden !important;
    transition: all 0.3 ease;
	// text-transform: capitalize;
    white-space: nowrap;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
        background: var(--zaplane-overlay-dark);
        transition: all 0.25s cubic-bezier(0.66, 0.36, 0.17, 0.91);
    }
    &:hover::after {
        left: 0;
    }
    &:hover,
    &:focus {
        box-shadow: none !important;
        outline: none !important;
    }
    &--label {
        padding: 0 4px;
    }
    &--circle{
        border-radius: 50%;
    }
    &--inline-block {
        display: inline-block;
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }

    &--inline-flex {
        display: inline-flex;
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
        column-gap: 10px;
    }
    &--bg-red,
    &--preset-red {
        background: var(--zaplane-red);
        color: var(--zaplane-white);
        &:hover, &:focus {
            background: var(--zaplane-red);
            color: var(--zaplane-white);
        }
    }
    &--preset-error {
        background: var(--zaplane-red) !important;
        color: var(--zaplane-white) !important;
    }
    &--bg-light-red,
    &--preset-light-red {
        background: var(--zaplane-red-light);
        color: var(--zaplane-red);
        .zaplane-icon:before {
            color: var(--zaplane-red);
        }
        &:hover, &:focus {
            background: var(--zaplane-red-light);
            color: var(--zaplane-red);
        }
    }
    &--bg-purple,
    &--preset-purple {
        background: var(--zaplane-primary-color);
        color: var(--zaplane-white);
        &:hover, &:focus {
            background: var(--zaplane-primary-color);
            color: var(--zaplane-white);
        }
    }
    &--bg-light-purple,
    &--preset-light-purple {
        background: var(--zaplane-secondary-color);
        color: var(--zaplane-primary-color);
        .zaplane-icon:before {
            color: var(--zaplane-primary-color);
        }
        &:hover, &:focus {
            background: var(--zaplane-secondary-color);
            color: var(--zaplane-primary-color);
        }
    }
    &--bg-white-border,    
    &--preset-white-border {
        border: 2px solid var(--zaplane-border-color);
        &:hover, &:focus {
            border: 2px solid var(--zaplane-border-color);
        }
    }
    &--bg-gray,
    &--preset-gray {
        background: var(--zaplane-border-color);
        &:hover, &:focus {
            background: var(--zaplane-gray-color);
        }
    }
    &--preset-white {
        background: var(--zaplane-background);
        color: var(--zaplane-black);
        &:hover, &:focus {
            background: var(--zaplane-background);
            color: var(--zaplane-black);
        }
    }
    &--preset-transparent {
        background: transparent;
        &::after{
            background: transparent;
        }
        &:hover, &:focus {
            background-color: transparent;
        }
    }
    &--border-rounded {
        border-radius: 4px;
    }
    &--preset-border-purple,
    &--border-purple {
        background: transparent;
        border: 1px solid var(--zaplane-primary-color);
        color: var(--zaplane-primary-color);
        &:hover, &:focus {
            background: var(--zaplane-secondary);
            color: var(--zaplane-primary-color);
        }
    }
    &--border-gray {
        border:1px solid var(--zaplane-border-color);
        &:hover, &:focus {
            border:1px solid var(--zaplane-border-color);
        }
    }
    &--border-red {
        border: 1px solid var(--zaplane-red);
        &:hover, &:focus {
            border: 1px solid var(--zaplane-red);
        }
    }
    &--border-black {
        border: 1px solid var(--zaplane-primary-color);
        &:hover, &:focus {
            border: 1px solid var(--zaplane-primary-color);
        }
    }
    &--mini {
		padding: 4px 6px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
	}
	&--xs {
		padding: 8px;
        font-size: 12px;
	}
	&--sm {
        padding: 8px 16px;
        font-size: 12px;
	}
	&--md {
		padding: 10px 20px;
        font-size: 14px;
	}
	&--lg {
		padding: 12px 24px;
        font-size: 14px;
	}
    &--disabled {
        background: var(--zaplane-disabled-bg) !important;
        color: var(--zaplane-text-disable) !important;
        cursor: not-allowed !important;
        .zaplane-icon {
            &::before{
              color:   var(--zaplane-secondary-gray-color) !important;
            }
        }
    }
    &--add-rule-group{
        width: fit-content;
    }

    .zaplane-icon {
        font-size: 14px;
    }

    // icon
    &--icon-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &--icon-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &--icon-bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    &--icon-center {
        display: flex;
        justify-content: center;
        align-items: center;
        .zaplane-icon{
            font-size: 14px;
        }
    }

    svg {
        overflow: visible;
    }
}