:root {
    --zaplane-font: "Inter", sans-serif;
    --zaplane-primary: #006BFF;
    --zaplane-second-primary: #8F7EE7;
    --zaplane-border-color: #CBD1D7;
    --zaplane-body-background: #F6F7F8;
    --zaplane-background: #FFFFFF;
    --zaplane-font-color: #0A2540;
    --zaplane-secondary: #738496;
    --zaplane-placing: #F15B50;
    --zaplane-warning: #FDB022;
    --zaplane-placeholder: #A2ADB9;
    --zaplane-shadow: 0px 0px 1px 0px rgba(20, 26, 36, 0.2), 0px 1px 2px 0px rgba(20, 26, 36, 0.1);
    --zaplane-shadow-2: 0px 0px 1px 0px rgba(16, 24, 40, 0.15), 0px 8px 16px 0px rgba(20, 26, 36, 0.1);
    --zaplane-gray: #F6F7F8;
}
body{
    overflow: hidden;
}
#wpbody-content{
    padding: 0
}
#wpcontent{
    padding: 0
}


@import './classLibrary';
@import './button';