.zaplane-table {
    background: var(--zaplane-background);
    padding: 24px;
    border-radius: 4px;
    border: 1px solid var(--zaplane-border-color);
    box-shadow: none;
    &__sub-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--zaplane-border-color);
    }

    .zaplane-table-flex-col {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        margin-top: 12px;
        flex-wrap: wrap;
        padding: 8px 16px;
    }

    &__footer-right {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__footer-pagination-per-page {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__footer-label {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        margin: 0;
    }
}

.zaplane-table-sub-header-tabs {
    display: flex;
    align-items: center;
    gap: 20px;

    .tab {
        position: relative;
        font-size: 13px;
        font-weight: 500;
        color: var(--zaplane-text-muted);
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -17px;
            width: 0;
            height: 1px;
            background: var(--zaplane-primary);
            transition: width 0.2s ease;
        }

        &:hover {
            color: var(--zaplane-primary);

            &::after {
                width: 100%;
            }
        }

        &.is-active {
            color: var(--zaplane-primary);
            cursor: default;

            &::after {
                width: 100%;
            }
        }
    }
}

// suffix
.zaplane-table {
    &--logs-table {
        .zaplane-table__sub-header-left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .zaplane-table__sub-header-left-items {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
}
